/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: var(--font-size);
  padding-block-start: 6.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;  
  background-image: var(--bg-image);
  background-attachment: fixed;
  font-variation-settings: "wght" var(--text-weight);
}

.header,
.content__card {
  inline-size: var(--content-widht);
  background-color: var(--bg-color);
}

.accent__text {
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: var(--accent-font-size);
}

.border {
  border: 2px solid #000;
}

.border__img {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-block: 8rem;
  padding-inline: 7.5rem;
  text-transform: uppercase;
  margin-block-end: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
}

.content {
  max-width: 696px;
  display: flex;
  flex-direction: column;
  gap: 50.6px;
  justify-content: center;
  align-items: center;
  padding-block-end: 103px;
}

.content__text {
  padding-block: 25px;
  padding-inline: 24.6px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__title {
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--title-weight);
  padding-inline-start: 10px;
  padding-block: 5px;
}

.img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-block-size: 100%;
  max-width: 696px;
  max-height: 696px;
}

.content__img {
  position: relative;
  display: flex;
}

.img__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
  text-shadow: 0 0 1px var(--shadow-color);
}

.text__box {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.text {
  font-weight: var(--text-weight);
  line-height: 21px;
}

.filter__brightness {
  filter: brightness(2.3);
}

.filter__saturate {
  filter: saturate(2.5);
}

.filter__multy {
  filter: brightness(1.5) invert(1.9);
}

.filter__hue-rotate {
  filter: hue-rotate(-28deg);
}

.filter__contrast {
  filter: contrast(2.5);
}

.filter__sepia {
  filter: sepia(50%);
}

.filter__drop-shadow {
  filter: drop-shadow(6px 6px 8px #c4e5ee) drop-shadow(5px 5px 3px #b7e2ee)
    drop-shadow(2px 1px 5px #4990ae) drop-shadow(3px 3px 3px #c4e5ee);
}

.buttons__box {
  align-self: flex-end;
  display: flex;
  gap: 4px;
}

.button {
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}
.button:focus {
  box-shadow: 2px 2px 0 1px var(--text-color);
}
.button:focus-visible {
  outline: none;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--bg-color);
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: var(--accent-font-size);
}

.card__like-button {
  width: 130px;
  overflow: hidden;
}

.button__decore::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--text-color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button__decore:hover::before {
  translate: 0%;
}

.card__icon-button,
.card__icon-button:focus-visible,
.card__icon-button:focus {
  border: none;
  box-shadow: none;
}

.card__icon-button .sparks {
  opacity: 0;
}

.card__icon-button {
  width: 39px;
  height: 37px;
  padding: 0;
  outline-color: transparent;
  transition: outline-color 0.3s ease;
}
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.button__save {
  padding-block: 15px;
  padding-inline-start: 19px;
  padding-inline-end: 21px;
  overflow: hidden;
}

.floppy__svg {
  width: 21px;
  height: 21px;
  vertical-align: bottom;
}

.floppy__dialog {
  max-width: 353px;
  padding-inline: 30px;
  padding-block: 30px;
  
  text-transform: uppercase;

}

.dialog__floppy__svg {
  width: 52px;
  height: 50px;
}

.description__dialog {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-block-end: 30px;
}

.button__dialog {
  padding-block: 12.5px;
  inline-size: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

.floppy__dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.floppy__dialog .description__dialog .dialog__text {
  width: fit-content;
  line-height: 150%;
}

@supports ((-webkit-text-stroke: 1px var(--shadow-color))) {
  .img__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
  }
}

@media (width <= 375px) {
  .header {
    padding-block: 7.5rem;
    padding-inline: 0.88rem;
  }

  .content {
    gap: 51px;
    padding-block-end: 100px;
  }

  .content__title {
    padding-inline: 10px;
    padding-block-start: 5.9px;
    padding-block-end: 4px;
  }

  .content__text {
    padding-inline: 25.7px;
    padding-block: 23.3px;
    gap: 25px;
  }

  .img {
    min-height: 371px;
  }

  .img__label {
    inset-inline-end: 13px;
  }

  .button__save {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .floppy__svg {
    width: 28px;
    height: 28px;
  }

  .floppy__dialog {
    padding-inline: 42px;
  }
  
}
