/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', sans-serif;
    --font-size: 18px;
    --text-weight: 400;
    --title-weight: 700;
    --text-color: #000000;
    --bg-color: #FFFFFF;
    --content-widht: clamp(18.75rem, 100%, 43.8rem);



}